@import 'src/styles/mixins/itemsWidthBetweenGaps';
@import 'src/styles/mixins/breakpoints';

.cart {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--appBackground);
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  padding: 15px 29px 40px 24px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  color: var(--primaryText);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.closeButton {
  position: relative;
  cursor: pointer;
}

.closeButton:after,
.closeButton:before {
  content: '';
  position: absolute;
  width: 34px;
  height: 8px;
  border-radius: 20px;
  background-color: var(--primaryText);
  top: 50%;
  right: 0;
}

.closeButton:after {
  transform: translate(0, -50%) rotate(-45deg);
}

.closeButton:before {
  transform: translate(0, -50%) rotate(45deg);
}

.productsList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include screen-m {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 26px;
}

.promo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px 10px 20px;
  background-color: var(--elementBackground);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.promoCodeIcon {
  width: 22px;
  height: 22px;
}

.promoInput {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: var(--secondaryText);
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.promoButton {
  color: var(--primary);
  font-weight: 600;
  font-size: 13px;
  padding: 10px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--primaryElement);
  border: none;
}

.summaryPanel {
  padding: 20px 22px 18px 22px;
  background-color: var(--elementBackground);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subTotal,
.delivery,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTotalKey,
.subTotalValue,
.deliveryKey,
.deliveryValue {
  font-weight: 400;
  font-size: 14px;
  color: var(--primaryText);
}

.totalKey,.totalValue {
  font-weight: 700;
  font-size: 18px;
}

.totalKey {
  color: var(--primaryText);
}

.totalValue {
  color: var(--totalPrice);
}

.divider {
  border: none;
  border-bottom: 1px dashed var(--secondaryText);
}

.confirmButton {
  width: 100%;
  color: var(--primary);
  background-color: var(--primaryElement);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 17px;
  font-weight: 600;
  font-size: 16px;
}

.emptyCartText {
  color: var(--primaryText);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
