.profile {
  background-color: var(--appBackground);
}

.container {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 30px 19px 40px 29px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
