.promo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px 10px 20px;
  background-color: var(--elementBackground);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.promoCodeIcon {
  width: 22px;
  height: 22px;
}

.promoInput {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  color: var(--secondaryText);
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.promoButton {
  color: var(--primary);
  font-weight: 600;
  font-size: 13px;
  padding: 10px 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--primaryElement);
  border: none;
}