.closeButton {
  position: relative;
  cursor: pointer;
}

.closeButton:after,
.closeButton:before {
  content: '';
  position: absolute;
  width: 34px;
  height: 8px;
  border-radius: 20px;
  background-color: var(--primaryText);
  top: 50%;
  right: 0;
}

.closeButton:after {
  transform: translate(0, -50%) rotate(-45deg);
}

.closeButton:before {
  transform: translate(0, -50%) rotate(45deg);
}
